{% extends 'front/guestbook/base-guestbook.html.twig' %}

{# {% block title %}Guestbook{% endblock %} #}

{% block body %}
 <section>
  <div id="image">
      <h1 class="title-room">Livre d'Or</h1>
  </div>
    </section>

  <section id="Commentary">
    <h2>Livre d'Or</h2>
    <form>
      <input placeholder="Nom">
      <textarea placeholder="Votre message ici..."></textarea>
      <button>Votre avis</button>
    </form>
  </section>
{% endblock %}
